body {
  font-family: Arial, sans-serif;
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    color: black;
    margin: 0;
    padding: 0;
}

.homepage-wrapper {
    display: flex;
    justify-content: space-around;
}

.navbar {
    background-color: #333333 !important; /* Override the background color */
    padding-left: 3rem;
    padding-right: 3rem;
}

.navbar-brand {
    color: white !important;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: lightslategrey;
    font-weight: bold;
}

.navbar-nav .nav-link:hover {
    color: white; !important
    /*background-color: #575757;*/
    /*border-radius: 5px;*/
}

.form-control {
    margin-right: 10px;
}

.btn-outline-success {
    color: white !important;
    border-color: white !important;
}

.btn-outline-success:hover {
    background-color: white !important;
    color: #333 !important;
}

.jumbotron {
    background-color: #f8f9fa;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: .3rem;
}

.jumbotron h1 {
    font-size: 2.5rem;
}

.jumbotron .btn-lg {
    margin: 0.5rem;
}

.container h3 {
    margin-top: 1.5rem;
    font-size: 1.75rem;
}

.container p {
    font-size: 1.1rem;
    color: #555;
}

/*@media (max-width: 576px) {*/
/*    .navbar-nav {*/
/*        flex-direction: column;*/
/*    }*/
/*}*/

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

/*Search bar*/
.search-container {
    position: relative;
}

#search-results {
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    color: black;
    background: white;
    width: 100%;
    z-index: 1000;
    display: none;
    top: 100%;
    left: 0;
}
.result-item {
    padding: 10px;
    cursor: pointer;
}
.result-item:hover {
    background-color: #f1f1f1;
}

/*My films page*/

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    padding: 10px;
}

.grid-item {
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
}

.grid-item:hover {
    text-align: center;
    border: 3px solid #32B400;
}

.grid-item img {
    max-width: 100%;
    height: auto;
    border-radius: 3px
}

.grid-item h3 {
    font-size: 1.1em;
    margin: 10px 0;
}

/*Film page*/
.film-page-container-1 {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}

.film-page-poster-container {
    flex: 1
}

.film-page-description-container {
    flex: 2
}

.film-page-poster {
    border-radius: 5px
}

/*Recommendations*/
.recommend-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.recommend-item {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    max-width: 800px;
}

.recommend-image-container {
    flex-shrink: 0;
    width: 150px;
}

.recommend-description-container {
    flex-grow: 1;
}

.recommend-poster {
    border-radius: 5px;
    width: 100%;
    height: auto;
}