@import url("https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/*Login Form*/

.login-container {
    font-family: Poppins, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.login-form {
    background: transparent;
    backdrop-filter: blur(20px);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    width: 350px;
}

.login-form h1 {
    text-align: center;
    color: #333;
}

.form-field {
    position: relative;
    margin: 20px 0;
}

.input-container {
    padding-bottom: 10px
}

.input-box {
    width: 100%;
    padding: 10px 10px 10px 35px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.error {
    color: red;
    font-size: 0.75rem;
    display: block;
}

.login-button {
    background: white;
    color: black;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}

.login-remember {
    padding-bottom: 10px;
    color: white;
}

.remember-me-label {
    margin-left: 5px;
}

.register-link p a {
    color: white;
    text-align: center;
    font-size: 14px;
}

.register-link p a:hover {
    text-decoration: underline;
}

/*General*/
.bg-steel {
  background-color: #5f788a;
}

body {
    background: linear-gradient(135deg, #5f2c82, #49a09d);
    min-height: 100vh;
    font-family: Poppins, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

.homepage-wrapper {
    display: flex;
    justify-content: space-around;
}

/*Navbar*/

.navbar {
    background-color: #333333 !important; /* Override the background color */
    padding-left: 3rem;
    padding-right: 3rem;
}

.navbar-brand {
    color: white !important;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: lightslategrey;
    font-weight: bold;
}

.navbar-nav .nav-link:hover {
    color: white; !important
    font-weight: bold;
}

.form-control {
    margin-right: 10px;
    border-radius: 25px;
}

.btn-outline-success {
    color: white !important;
    border-color: #333333;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: .3rem;
}

.jumbotron h1 {
    font-size: 2.5rem;
}

.jumbotron .btn-lg {
    margin: 0.5rem;
}

.container h3 {
    font-size: 1.75rem;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

/*Search bar*/
.search-container {
    position: relative;
}

#search-results {
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    color: black;
    background: white;
    width: 100%;
    z-index: 1000;
    display: none;
    top: 100%;
    left: 0;
}
.result-item {
    padding: 10px;
    cursor: pointer;
}
.result-item:hover {
    background-color: #f1f1f1;
}

/*My films page*/

.grid-container {
    color: white;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
    padding-top: 30px;
}

.grid-item {
    text-align: center;
    background-color: transparent;
}

.grid-item:hover {
    text-align: center;
    border: 3px solid #32B400;
}

.grid-item img {
    max-width: 100%;
    height: auto;
    border-radius: 3px;
    padding-bottom: 3px;
}

.grid-item h3 {
    font-size: 1.1em;
    margin: 10px 0;
}

.star-container {
    color: white;
}

/*Film page*/
.film-page-container-1 {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}

.film-page-content-container {
    display: flex;
}

.film-page-poster-container {
    flex: 1
}

.film-page-description-container {
    flex: 2
}

.film-page-poster {
    border-radius: 5px
}

/*Recommendations*/
.recommend-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.recommend-info-container p {
    color: white;
    text-align: left;
    width: 100%;
}

.recommend-h1 {
    color: white;
    font-family: Poppins, sans-serif
}

.recommend-p {
    text-align: left;
    width: 100%;
}

.mood-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.mood-button-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mood-button-row label {
    border: none;
    width: 90px;
    border-radius: 15px;
    color: white;
    margin: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: background-color 0.3s;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    display: inline-block;
    text-align: center;
}

.mood-button-row label:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.mood-button-row input[type="radio"] {
    display: none;
}

.mood-button-row input[type="radio"]:checked+label {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    border: 3px solid #fff;
}

.mb-joy {
    background-color: #ffed18;
}

.mb-sadness {
    background-color: #00b8ff;
}

.mb-anger {
    background-color: #ff2b1a;
}

.mb-disgust {
    background-color: #1ea109;
}

.mb-fear {
    background-color: #b13fc7;
}

.mb-surprise {
    background-color: #ff7800;
}

.mb-neutral {
    background-color: #7b7976;
}

.mb-none {
    background-color: black;
}

.recommend-button-container {
    padding: 25px;
}

.recommend-button {
    display: flex;
    background: white;
    color: black;
    border: none;
    width: 250px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s;
}

.recommend-button:hover {
    color: white;
    background: #00b40b;
}

.recommend-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding-top: 20px;
}

.recommend-item {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    width: 800px;
    max-width: 800px;
    background-color: #f1f1f122;
    padding: 20px;
    border-radius: 10px;
}

.recommend-image-container {
    flex-shrink: 0;
    width: 100px;
}

.recommend-description-container {
    flex-grow: 1;
}

.recommend-poster {
    border-radius: 5px;
    width: 100%;
    height: auto;
}