{% extends "base.html" %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>My Films</title>
</head>
<body>
    <h1>My Rated Films</h1>
    <div class="grid-container">
        {% for film in films %}
        <div class="grid-item">
            <a href="{{ url_for('film_page', film_id=film.movie_id) }}">
                <img src="https://image.tmdb.org/t/p/w500/{{ film.poster_path }}" alt="{{ film.title }} Poster">
            </a>
            <h3>{{ film.title }}</h3>
            <p>My Rating: {{ ratings_dict[film.movie_id] }}</p>
        </div>
        {% endfor %}
    </div>
    <a href="{{ url_for('index') }}">Back to Home</a>
</body>
{% endblock %}
