{% extends "base.html" %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Recommend</title>
</head>
<body>
    {% if not films %}
    <div class="recommend-info-container">
        <h1 class="recommend-h1">Want something to watch? </br> Select the mood below and click Recommend!</h1>
        <p class="recommend-p">The recommendation algorithm will find films for you to watch based on mood, as well as your tastes!</p>
        <form method='POST' id="mood-form">
            <div class="mood-button-container">
                <div class="mood-button-row">
                    <input type="radio" id="joy" name="mood" value="joy">
                    <label for="joy" class="mb-joy">Joy</label>

                    <input type="radio" id="sadness" name="mood" value="sadness">
                    <label for="sadness" class="mb-sadness">Sadness</label>

                    <input type="radio" id="anger" name="mood" value="anger">
                    <label for="anger" class="mb-anger">Anger</label>

                    <input type="radio" id="disgust" name="mood" value="disgust">
                    <label for="disgust" class="mb-disgust">Disgust</label>
                </div>
                <div class="mood-button-row">
                    <input type="radio" id="fear" name="mood" value="fear">
                    <label for="fear" class="mb-fear">Fear</label>

                    <input type="radio" id="surprise" name="mood" value="surprise">
                    <label for="surprise" class="mb-surprise">Surprise</label>

                    <input type="radio" id="neutral" name="mood" value="neutral">
                    <label for="neutral" class="mb-neutral">Neutral</label>

                    <input type="radio" id="none" name="mood" value="none">
                    <label for="none" class="mb-none">None</label>
                </div>
                <div class="recommend-button-container">
                    <button class="recommend-button" type="submit" id="recommend-button" disabled>Recommend Movies</button>
                </div>
            </div>
        </form>
    </div>
    {% endif %}
    {% if films %}
    <div class="recommend-container">
        {% for film in films %}
        <div class="recommend-item">
            <div class="recommend-image-container">
                <a href="{{ url_for('film_page', film_id=film.movie_id) }}">
                    <img src="https://image.tmdb.org/t/p/w500/{{ film.poster_path }}" alt="{{ film.title }} Poster" class="recommend-poster">
                </a>
            </div>
            <div class="recommend-description-container">
                <h3>{{ film.title }} ({{ film.release_date.strftime('%Y') }})</h3>
            </div>
        </div>
        {% endfor %}
    </div>
    <a href="{{ url_for('index') }}">Back to Home</a>
    {% endif %}
</body>
<script src="{{ url_for('static', filename='js/recommend.js') }}"></script>
{% endblock %}