{% extends "base.html" %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Recommend</title>
</head>
<body>
    {% if not films %}
    <div class="recommend-info-container">
        <h1 class="recommend-h1">Need something to watch? </br> Select the mood below. </br> Click Recommend!</h1> </br>
        <p style="width:60%" class="recommend-p">The recommendation algorithm will find films for you to watch based on
            mood, as well as your tastes!</p>
        <form method='POST' id="mood-form">
            <div class="mood-button-container">
                <div class="mood-button-row">
                    <input type="radio" id="joy" name="mood" value="joy">
                    <label for="joy" class="mb-joy">Joy</label>

                    <input type="radio" id="sadness" name="mood" value="sadness">
                    <label for="sadness" class="mb-sadness">Sadness</label>

                    <input type="radio" id="anger" name="mood" value="anger">
                    <label for="anger" class="mb-anger">Anger</label>

                    <input type="radio" id="disgust" name="mood" value="disgust">
                    <label for="disgust" class="mb-disgust">Disgust</label>
                </div>
                <div class="mood-button-row">
                    <input type="radio" id="fear" name="mood" value="fear">
                    <label for="fear" class="mb-fear">Fear</label>

                    <input type="radio" id="surprise" name="mood" value="surprise">
                    <label for="surprise" class="mb-surprise">Surprise</label>

                    <input type="radio" id="neutral" name="mood" value="neutral">
                    <label for="neutral" class="mb-neutral">Neutral</label>

                    <input type="radio" id="none" name="mood" value="none">
                    <label for="none" class="mb-none">None</label>
                </div>
                <div class="recommend-button-container">
                    <button class="recommend-button" type="submit" id="recommend-button" disabled>Recommend Movies</button>
                </div>
            </div>
        </form>
        <div class="loader-wrapper" style="display:none">
            <h3>Generating recommendations, please wait.</h3>
            <span class="loader"><span class="loader-inner"></span></span>
        </div>
    </div>
    {% endif %}
    {% if films %}
    <div class="recommend-container">
        <h3>We think you'll like these films based on the mood "{{ mood }}"</h3>
        {% for film in films %}
        <div class="recommend-item">
            <div class="recommend-image-container">
                <a href="{{ url_for('film_page', film_id=film.movie_id) }}">
                    <img src="https://image.tmdb.org/t/p/w500/{{ film.poster_path }}" alt="{{ film.title }} Poster" class="recommend-poster">
                </a>
            </div>
            <div class="recommend-description-container">
                <h3><a href="{{ url_for('film_page', film_id=film.movie_id) }}">{{ film.title }} ({{ film.release_date.strftime('%Y') }})</a></h3>
                {% if film.genres %}
                    <div class="recommend-genre-container">
                    {% for genre in film.genres.split(',') %}
                        <div class="recommend-genre">
                            <p>{{ genre.strip() }}</p>
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</body>
<script src="{{ url_for('static', filename='js/recommend.js') }}"></script>
{% endblock %}